*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(240,240,240);
}

.first-margin {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #e0e0e0;
    padding: 10px 0;
    position: relative;
}

.contact {
    display: flex;
    margin-left: 75px;
    list-style: none;
    font-size: 13px;
    color: rgb(1, 0, 80);
}

.contact li {
    margin: 0 20px;
}

.contact a {
    text-decoration: none;
    color: rgb(1, 0, 80);
}

.contact-social {
    display: flex;
    list-style: none;
    color: rgb(1, 0, 80);    
}

.contact-social li {
    margin: 0 10px;
}

.button-vacantes {
    font-size: 14px;
    background-color: rgb(236,104,2);
    text-decoration: none;
    color: white;
    padding: 5px 40px 5px 40px;
    border-radius: 20px!important;
    margin-right: 75px;
}

.button-vacantes:hover{
    background-color: rgb(227,56,48);
    transition-duration: .4s;
}

.second-margin {
    background-color: #ffffff;
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-img {
    width: 80px;
    margin-left: 50px;
}

.logo {
    font-family: 'Roboto', sans-serif;
    color: rgb(1, 0, 80);
    font-size: 35px;
    padding: 0 10px;
    font-weight: bold;
    margin-left: 0px;
}

.menu_items {
    display: flex;
    list-style: none;
    margin-right: 50px;
    margin-top: 5px;
}

.menu_items li {
    list-style: none;
    border-radius: 3px;
    margin: 0 5px;
}

.menu_items li a {
    font-family: 'Roboto', sans-serif;
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: rgb(1, 0, 80);
}

.menu_items li:hover, li.active {
    border-color: 2px rgb(1, 0, 80);
}

.btn_menu {
    margin-right: 30px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: none;
}

ul.show {
    top: 65px;
}

.menu_items li a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(236,104,2);
    transition-duration: .30s;
}

#menu_niveles {
    background-color: rgb(230, 230, 230);
    transition-duration: .5s;
}

.menu_items li ul {
    display:none;
    position: absolute;
    min-width: 140px;
}

.menu_items li:hover > ul {
    display: block;
}

.header img{
    width: 100vw;
    height: 80vh;
}

.seccion-niveles {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    padding-right: 80px;
    letter-spacing: 1px;
    background-color: rgb(240,240,240);
    padding-bottom: 50px;
}

#niveles {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

.titulo-niveles {
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
}

.info-niveles {
    justify-content: center;
    text-align: center;
    font-size: 90%;
    line-height: 28px;
    display: block;
}

#seccion-inicial p {
    padding: 0 60px 0 60px;
    align-items: center;
}

#seccion-secundario {
    margin-left: 50px;
}

#seccion-primario p {
    margin: 0 -25px 0 -25px;
}

.vector_niveles {
    filter: invert(90%) sepia(0%) saturate(200%) hue-rotate(100deg) brightness(120%) contrast(70%);
    width: 250px;
    margin: auto;
    display: block;
}

.button-niveles {
    font-size: 18px;
    background-color: rgb(236,104,2);
    text-decoration: none;
    color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 36px!important;
    margin-right: 75px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
}

.boton-nivel {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-left: 40px;
    margin-top: 40px;
}

.novedades {
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
    background-color: #ffffff;
    width: 100%;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding-bottom: 500px;
}

.novedades .secciones-novedades {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.novedades .secciones-novedades:hover {
    transform: translate(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.novedades .secciones-novedades img {
    width: 330px;
    height: 220px;
}

.novedades .secciones-novedades h4 {
    font-weight: 600;
}

.novedades .secciones-novedades p {
    padding: 10px 1.5rem 10px 1.5rem;
    font-size: 16px;
    font-weight: 300;
    cursor: default;
}

.novedades .secciones-novedades a {
    text-decoration: none;
    color: black;
}

.novedades .secciones-novedades a:hover {
    color: rgb(227,56,48);
    transition-duration: 0.5s;
}

#novedades {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    background-attachment: fixed;
    background-color: #ffffff;
    padding: 25px 0 25px 0;
}

.form-com {
    width: 90%;
    padding: 20px;
    margin: 20px auto;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02cm;
}

.form-com h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 25px;
}

.contenido {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.form h5 {
    font-size: 12.5px;
}

.contenido .info,
.contenido .form {
    width: 150%;
}

.info {
    margin-left: 150px;
}

.info .col {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    font-size: 16px;
    align-items: center;
    flex-wrap: nowrap;
}

.info .col .icono {
    color: #c81f13;
    padding-right: 15px;
}

.info .col-mail .icono {
    color: #c81f13;
}

.info .col-mail {
    display: block;
    padding-bottom: 20px;
}

.info .col-mail a {
    text-decoration: none;
    color: black;
}

.info .col-mail a:hover {
    color: rgb(227,56,48);
    transition-duration: 0.3s;
}

.info .col #postulacion {
    text-decoration: none;
    color: rgb(227,56,48);
    font-weight: bold;
}

#first-mail {
    padding-left: 12px;
}

#second-mail {
    padding-left: 33px; 
}

.form {
    padding-right: 20px;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='tel'],
.form #lista-form,
.form textarea {
    width: 140%;
    margin-bottom: 25px;
    padding: 20px 20px;
    border: 0px solid #999;
    color: #999;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    outline: 0;
    border-radius: 6px;
    font-size: 15px;
}

.form textarea {
    max-width: 100%;
    min-width: 140%;
    min-height: 150px;
    max-width: 140px;
    margin-right: 300px;
}

.form input[type='text']:focus ,
.form input[type='email']:focus ,
.form input[type='tel']:focus ,
.form #lista-form:focus ,
.form textarea:focus {
    border: 1px solid #c81f13;
}

.form button {
    padding: 18px 36px;
    border: transparent;
    background: rgb(236,104,2);
    color: #fff;
    cursor: pointer;
    float: left;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
}

.form button:hover {
    background: rgb(227,56,48);
    transition-duration: 0.3s;
}

.alert {
    display: block;
    padding: 12px 20px;
    background: #f8d7da;
    color: #721c24;
    margin-bottom: 10px;
    border: 1px solid;
}

.button-wpp .icon{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

@media screen and (max-width: 952px) {
    .logo {
        font-size: 30px;
        padding-left: 35px;
        margin-left: 30px;
    }

    .menu_items {
        font-size: 16px;
    }

    .contact {
        display: none!important;
    }

    .first_margin {
        align-content: center;
    }
}

@media screen and (max-width: 858px) {
    .menu {
        height: 65px;
    }

    .btn_menu {
        display: inline-flex;
    }

    .menu_items {
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: #414141;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }

    .menu_items li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .menu_items li:hover {
        background: none;
    }

    .menu_items li a {
        font-size: 20px;
        color: rgb(197, 197, 197);
        font-weight: bold;
    }

    .menu_items li a:hover {
        color: rgb(170, 170, 170);
    }

    .logo {
        font-size: 25px;
        padding-left: 35px;
        margin-left: 30px;
    }

    .contact-social {
        margin-left: 50px;
    }
}

@media screen and (max-width: 858px) and (orientation: landscape) {
    .menu_items li {
        margin: 5px 0 0 0;
    }

    .menu_items {
        overflow: scroll;
        height: calc(100% - 65px);
    }
}

@media screen and (max-width: 858px) {

    .seccion-niveles {
        display: block;
    }

    .info-niveles {
        margin: 0 -100px 0 -100px;
    }

    #seccion-secundario {
        padding: 0 30px 0 30px;
    }

    .boton-nivel{
        padding-bottom: 100px;
    }
}